<div class="page-header">
  <h3>Menu #<%= @menu.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @menu.restaurant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/menus" class="btn btn-primary">
        Back
      </a>
      <a href="/menus/<%= @menu.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_menu/<%= @menu.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Menu has many food_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Food Items
      </li>

      <% @menu.food_items.each do |food_item| %>
        <li class="list-group-item">
          <a href="/food_items/<%= food_item.id %>">
            <%= food_item.menu_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/food_items/<%= food_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/food_items/<%= food_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_food_item/<%= food_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Menu has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @menu.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
