<!-- Validation failure messages -->
<% if @food_item.errors.any? %>
  <% @food_item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Food Item</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_food_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for menu_id -->
      <div class="form-group">
        <label for="menu_id" class="control-label">
          Menu
        </label>

        <%= select_tag(:menu_id, options_from_collection_for_select(Menu.all, :id, :restaurant_id, @food_item.menu_id), :class => "form-control") %>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @food_item.price %>">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @food_item.image %>">
      </div>

      <button class="btn btn-success">
        Create Food Item
      </button>
      or
      <a href="/food_items">Cancel</a>
    </form>
  </div>
</div>
